<!DOCTYPE html>
<html lang="en">
<body>
<div th:switch="@{accounts}">
    <h2 th:case="!accounts">No accounts yet!</h2>
    <div th:case="*">
        <h2 th:text="${infoText}">Accounts </h2>
        <table>
            <thead>
            <tr>
                <th>Account Id</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.accountId}"></td>
                <td th:text="${account.transactionAmount}"></td>
            </tr>

            </tbody>

        </table>
        <b th:text="${user.getBalance()}">Balance </b>

    </div>
    <!--    <p><a href="/add-account/{id}(id={user.userId})}">Add account</a></p>-->
    <p><a th:href="@{/add-account/{id}(id=${user.userId})}">Add account</a></p>

    <p><a th:href="@{/}">Users list</a></p>
</div>

</body>
</html>